body {
    background-color: #1D366F;
    display: flex;
    align-items: center;
    justify-content: center;
}


@media (max-width: 400px) {

    .logo-image {
        min-width: 400px;
        max-height: 400px;
        right: 30px;
        position: relative;
    }
}
